<nav class="navbar navbar-expand-sm shadow bg-dark navbar-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand">Welcome Admin!</a>
    <ul class="nav navbar-nav navbar-right">
      <button
        type="button"
        class="btn btn-light"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
        (click)="clickAddProducts()"
      >
        Add new Product
      </button>
      <li class="nav-item">
        <a routerLink="" class="nav-link active">
          Logout <i class="fa fa-sign-out" aria-hidden="true" title="logout"></i
        ></a>
      </li>
    </ul>
  </div>
</nav>

<br /><br />

<section style="background-color: #eee">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div
        class="col-md-5 col-lg-4 col-xl-4"
        *ngFor="let product of productsList"
      >
        <div class="card shadow" style="border-radius: 10px">
          <div
            class="bg-image hover-overlay ripple ripple-surface ripple-surface-light"
            data-mdb-ripple-color="light"
          >
            <img
              [src]="product.productImg"
              style="
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
              "
              class="img-fluid"
              alt="{{ product.productName }}"
            />
            <a>
              <div class="mask"></div>
            </a>
          </div>
          <div class="card-body pb-0">
            <div class="d-flex justify-content-between">
              <div>
                <h4 class="card-title fw-bold mb-2 text-uppercase">
                  <a class="text-dark">{{ product.productName }}</a>
                </h4>
              </div>
            </div>
          </div>
          <hr class="my-0" />
          <div class="card-body pb-0">
            <div class="d-flex justify-content-between">
              <h6>
                MfdDate:<br />
                {{ product.mfdDate }}
              </h6>
              <h6>
                ExpDate:<br />
                {{ product.expDate }}
              </h6>
            </div>
          </div>
          <hr class="my-0" />
          <div class="card-body pb-0">
            <div class="d-flex justify-content-between">
              <h6>Price: {{ product.price | currency : "INR" }}</h6>
              <h4
                [ngStyle]="
                  product.stock > 10 ? { color: 'green' } : { color: 'red' }
                "
              >
                Stock: {{ product.stock }}
              </h4>
            </div>
          </div>
          <hr class="my-0" />
          <div class="card-body">
            <div
              class="d-flex justify-content-between align-items-center pb-2 mb-1"
            >
              <button
                class="btn btn-info"
                (click)="onEdit(product)"
                (click)="clickEditProducts()"
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              >
                Edit
              </button>
              <button
                (click)="deleteProducts(product)"
                class="btn btn-danger mx-3"
              >
                Delete
              </button>
            </div>
          </div>
        </div>
        <br />
      </div>
    </div>
  </div>
</section>
<br />

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Product Details</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue">
          <div class="mb-3">
            <label for="ProductName" class="form-label">Product Name</label>
            <input
              type="text"
              class="form-control"
              id="ProductName"
              aria-describedby="emailHelp"
              formControlName="ProductName"
            />
          </div>
          <div class="mb-3">
            <label for="MfdDate" class="form-label">Mfd Date</label>
            <input
              type="text"
              class="form-control"
              id="MfdDate"
              formControlName="MfdDate"
            />
          </div>
          <div class="mb-3">
            <label for="ExpDate" class="form-label">Exp Date</label>
            <input
              type="text"
              class="form-control"
              id="ExpDate"
              formControlName="ExpDate"
            />
          </div>
          <div class="mb-3">
            <label for="productImg" class="form-label">Image URL</label>
            <input
              type="text"
              class="form-control"
              id="productImg"
              formControlName="ProductImg"
              #productImg
            />
          </div>
          <div class="mb-3">
            <img
              [src]="productImg.value"
              class="img-responsive"
              style="width: 100%"
            />
          </div>
          <div class="mb-3">
            <label for="Price" class="form-label">Price</label>
            <input
              type="number"
              class="form-control"
              id="Price"
              formControlName="Price"
            />
          </div>
          <div class="mb-3">
            <label for="Stock" class="form-label">Stock</label>
            <input
              type="number"
              class="form-control"
              id="Stock"
              formControlName="Stock"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          id="cancel"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >
          Close
        </button>
        <button
          type="button"
          *ngIf="showAdd"
          (click)="postProductDetails()"
          class="btn btn-primary"
        >
          Add
        </button>
        <button
          type="button"
          *ngIf="showUpdate"
          (click)="updateProductDetails()"
          class="btn btn-primary"
        >
          Update
        </button>
      </div>
    </div>
  </div>
</div>

<link
  rel="stylesheet"
  type="text/css"
  href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css"
/>
<link
  href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
  rel="stylesheet"
/>
