<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <div class="mb-md-5 mt-md-4 pb-5">
              <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
              <p class="text-white-50 mb-5">
                Please enter your valid Email and password!
              </p>
              <form [formGroup]="AdminLoginForm">
                <div class="form-outline form-white mb-4">
                  <input
                    type="email"
                    name="username"
                    placeholder="Enter your email here"
                    class="form-control form-control-lg"
                    id="typeEmailX"
                    value=""
                    formControlName="AdminId"
                  />
                  <small
                    *ngIf="
                      AdminLoginForm.controls['AdminId'].dirty &&
                      AdminLoginForm.hasError('required', 'AdminId')
                    "
                    class="text-danger"
                    class="text-danger"
                    >*Mail Id is required</small
                  >
                </div>

                <div class="form-outline form-white mb-4">
                  <input
                    type="password"
                    id="typePasswordX"
                    class="form-control form-control-lg"
                    name="password"
                    placeholder="Enter your password here"
                    value=""
                    formControlName="AdminPassword"
                  />
                  <small
                    *ngIf="
                      AdminLoginForm.controls['AdminPassword'].dirty &&
                      AdminLoginForm.hasError('required', 'AdminPassword')
                    "
                    class="text-danger"
                    class="text-danger"
                    >*password is required</small
                  >
                </div>

                <button
                  (click)="onAdminLogin()"
                  [disabled]="AdminLoginForm.invalid"
                  type="submit"
                  class="btn btn-outline-light btn-lg px-5"
                >
                  Login
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
